html {
    background-color: #e9eaed;
    font-size: 16px;
}
body {
    background-color: white;
}
/*########## footer ##################*/
footer {
    background-color: rgba(0,0,0,1);
    border-radius: 2px;
    height: 100%;
}
footer ul li: {
    list-style: none;
    padding: 0;
}
ul.social {
    font-family: FontAwesome;
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 10px 0 10px 0;
    border-bottom: 2px solid rgba(175,175,175,1);
}
ul.social li {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    line-height: 20px;
    padding-left: 25px;
    font-size: 1.3em;
    color: rgba(175,175,175,1);
}
.social li a {
    position: relative;
    color: rgba(175,175,175,1);
    display: block;
    width: auto;
    text-decoration: none;
}
.social li a:hover {
    color: rgba(255,255,255,1);
}
.git:before {
    content: '\f09b';
    padding-right: 10px;
}
.linkedin:before {
    content: '\f0e1';
    padding-right: 10px;
}
.twitter:before {
    content: '\f099';
    padding-right: 10px;
}
.facebook:before {
    content: '\f082';
    padding-right: 10px;
}
.bottom-footer {
    width: 100%;
    text-align: center;
    padding: 75px 0 75px 0;
}
img.foot {
    width: 200px;
    display: block;
    margin: 0 auto;
}
figure {
    margin-bottom: 10px;    
}
figcaption {
    color: rgba(175,175,175,1);
}
/*########## blog page #####################*/
.blog__head {
    background-color: rgba(75,75,75,1);
    border: 1px solid rgba(220,220,220,1);
    
}
.blog__head__border {
    border: 1px solid rgba(220,220,220,1);
    box-shadow: 1px 1px 1px rgba(220,220,220,1);
}
.blog__head h2, .blog__head h3 {
    color: rgba(250,250,250,1);
}
.sub__blog__head {
    margin-top: 30px;
    background-color: rgba(245,245,245,.9);
    height: 30px;
    line-height:30px;
}
.recent__post {
    background: rgba(245,245,245,.9);
    padding: 15px;
}
li.recent__post_hr {
    padding: 0;
    border: 1px solid rgba(220,220,220,1);
    color: #333;
    margin-bottom: 20px;
}

/*############## blog-post page ###########################*/
img.profile {
    max-width: 75px;
    max-height: 75px;
    border:  1px solid rgba(175,175,175,1);
    margin-top: 8px;
}
.blog__post {
    margin-bottom: 225px;
}
.small_rp {
    font-size: 10px;
}
/*####### Login Form - Create Edit Delete Post #############*/
.login-page, .post {
    margin-bottom: 100px;
}
.delete {
    margin-top: 20px;
    margin-bottom: 320px;
}
.blogbutton {
    font-size: 16px;
}
/*############## comments section #################*/
/*#################################################*/
.thumbnail {
    /*padding:0px;*/
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
/*#####################################*/
/*#######    PROFILE PAGE     ########*/
/*########################################*/
.profile_background {
    background-color: grey;
}
@media screen and (max-width: 568px) {
    img.profile {
        max-width: 30px;
        max-height: 30px;
    }
}
