<!doctype HTML>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name='author' content="Jeffrey Reiher, me@jeffreiher.com">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name='keywords' content="{% block keywords %}{% endblock %}"/>
	<meta name='copyright' content="DSAC LLC">
	<meta name="robots" content="index,follow">
	<link rel="shortcut icon" href="https://placehold.it/32x32">

	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/carousel.css">
</head>
<body>
	
<div class="container-fluid">

<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jeff Reiher</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/jreiher2003" target="_blank" ><i class="fa fa-github fa-lg social"></i>&nbsp; |&nbsp;  GitHub</a></li>
                  <li><a href="https://www.linkedin.com/nhome/" target="_blank"><i class="fa fa-linkedin fa-lg social"></i>&nbsp; |&nbsp;  LinkedIn</a></li>
                  <li><a href="https://twitter.com/BigJeffDogg" target="_blank"><i class="fa fa-twitter fa-lg social"></i>&nbsp; | &nbsp;Twitter</a></li>
                  <li><a href="https://www.facebook.com/jeff.reiher" target="_blank" ><i class="fa fa-facebook fa-lg social"></i>&nbsp;&nbsp; | &nbsp; Facebook</a></li>
                </ul>
              </li>
            </ul>
            {% if current_user.is_active %}
            <ul class="list-unstyled nav-call">
              <li class="pull-right hidden-xs"><a href="/logout">Logout</a></li>
              <li class="pull-right hidden-xs">{{ current_user.name }}&nbsp;|</li>
              <li class="pull-right hidden-xs"><a class="btn btn-success btn-sm" href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
                &nbsp;&nbsp;Call Me</a></li>
              <li class="pull-right hidden-xs"><a class="btn btn-warning btn-sm" href="sms:+1-941-585-3084"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Text Me</a></li>
            </ul>
            {% else %}
            <ul class="list-unstyled nav-call">
              <li class="pull-right hidden-xs"><a href="/login">Login&nbsp;</a></li>
              <li class="pull-right hidden-xs"><a class="btn btn-success btn-sm" href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
                &nbsp;&nbsp;Call Me</a></li>
              <li class="pull-right hidden-xs"><a class="btn btn-warning btn-sm" href="sms:+1-941-585-3084"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Text Me</a></li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid nav -->
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class='flashes'>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}" role="alert">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

     
      {%block section %}{% endblock %}
    </div>


  <!-- FOOTER -->
  <footer>
    <ul class="social">
      <li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git">GitHub</a></li>
      <li><a href="https://www.linkedin.com/pub/jeff-reiher/48/9b7/132" target="_blank" class="linkedin">LinkedIn</a></li>
      <li><a href="https://twitter.com/BigJeffDogg" target="_blank" class="twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook">Facebook</a></li>
    </ul> 
    <div class="bottom-footer">
      <figure>
        <a href="#">
          <picture>
            <img class="foot img-responsive" src="{{ url_for('static', filename='images/jeffreihercom_crop.png') }}" alt="logo of jeffreiher.com">
          </picture>
        </a>
        <figcaption>&#169;&nbsp;Copyright 2015 DSAC LLC.&nbsp; All Rights Resevered</figcaption>
      </figure>
    </div>
  </footer>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/static/js/carousel.js"></script>
<script src="/static/js/carousel.responsive.js"></script>

<script>
$(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
});
</script>
</body>
</html>