<!doctype HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='author' content="Jeffrey Reiher, me@jeffreiher.com">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name='keywords' content="{% block keywords %}{% endblock %}"/>
  <meta name='copyright' content="DSAC LLC">
  <meta name="robots" content="index,follow">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='images/jwblack21-16_icon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_login.css') }}">
</head>
<body>
  {% include "nav.html" %}
  {% include "messages.html" %}
  {% block section %}{% endblock %}
  <!-- FOOTER -->
  {% include "footer.html" %}
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
  $(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
  });
  </script>
</body>
</html>