<footer>
  <ul class="social">
    <li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git">GitHub</a></li>
    <li><a href="https://www.linkedin.com/pub/jeff-reiher/48/9b7/132" target="_blank" class="linkedin">LinkedIn</a></li>
    <li><a href="https://twitter.com/BigJeffDogg" target="_blank" class="twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook">Facebook</a></li>
  </ul> 
  <div class="bottom-footer">
    <figure>
      <a href="{{ url_for('blog') }}">
        <picture>
          <img class="foot img-responsive" src="{{ url_for('static', filename='images/jeffreihercom_crop.png') }}" alt="logo of jeffreiher.com">
        </picture>
      </a>
      <figcaption class="small">&#169;&nbsp;Copyright 2016 DSAC LLC.&nbsp; All Rights Resevered</figcaption>
    </figure>
  </div>
</footer>    