{% extends "base1.html" %}
{% block title %}Jeff Reiher{% endblock %}
{% block description %}A personal web page to connect with Jeffrey Reiher{% endblock %}
{% block keywords %}Jeffrey Reiher, Jeff Reiher, Web Developer, fullstack developer{% endblock %}
{% block section %}
<div class="row">

<div class="col-md-8">
 
<div class="wrapper">
<div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/sunset_jeff1.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="Jeff Reiher hanging out at the beach at sunset.">
                  </picture>
                </li>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/boardwalk_crop.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/purple_i.jpg') }}" alt="Cape Haze, Florida. The intercoastal at sunset.">
                  </picture>
                </li>

                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/boat_crop.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="Englewood Florda, a historic fishing boat docked at the Fishery bar and grill.">
                  </picture>
                </li>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/jeff_beach_crop.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="Jeff Reiher sitting at the beach watching the sunset.">
                  </picture>
                </li>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/jeff_workout.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="Jeff Reiher working out at the hammocks gym.">
                  </picture>
                </li>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/rainbow_crop_r.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="A rainbow in Cape Haze, FL.">
                  </picture>
                </li>
                <li>
                  <picture>
                    <!-- <source srcset="/static/images/images_production/sunrise_r.webp" type="image/webp"> -->
                    <img src="{{ url_for('static', filename='images/sunset_jeff1.jpg') }}" alt="Lemon Bay, Florida sunrise">
                  </picture>
                </li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>
    </div>
</div>

</div> <!-- end desktop md-8 -->

<div class="row visible-xs">
  <div class="col-xs-4 col-xs-offset-1">
    <a class="btn btn-success call" href="tel:+1-941-585-3084"><i class="fa fa-phone"></i>
      &nbsp;&nbsp;Call Me</a>
  </div>

    <div class="col-xs-4 col-xs-offset-1">
      <a class="btn btn-warning text" href="sms:+1-941-585-3084"><i class="fa fa-envelope-o"></i>
        &nbsp;&nbsp;Text Me</a>
    </div>
</div>


<div class="col-xs-12 col-md-4 pull-right">
<hr class="style-eight">

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="h4">Jeff Reiher <span class="small">Web Developer</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>ht:</b> 5'9" <b>wt:</b> 180</td> 
    </tr>
    <tr>
      <td><b>born:</b> 11-14-1979 Waukegan, IL</td>
    </tr>
    <tr>
      <td><b>Home:</b> Heredia, Costa Rica</td>
    </tr>
    <tr>
      <td><b>Current:</b> Cape Haze, FL.</td>
    </tr>
    <tr>
      <td><b>Programming Languages:</b> Python, JavaScript</td>
    </tr>

  <tbody>
</table>

<hr class="style-eight">
</div> <!-- end col md-4 -->

</div> <!-- end row desktop -->

<div class="row">
  <div class="col-md-6">
    <div class="info1">
      <h4>Technologies I know how to use</h4>
      <ul>
        <li>Python, I am an avid pythonista.</li>
        <li>Flask-SQLAlchemy, PostgreSQL and mongoDB databases.</li>
        <!-- <li>Responsive Design with flex-box.</li> -->
        <li>Google app engine, Amazon AES, Heroku. </li>
        <li>Twitter Bootstrap.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="info2">
      <h4>Projects I plan to work on</h4>
      <ul>
        <li>Python driven web applications.</li>
        <!-- <li>Anything with machine learning algorightms.</li> -->
        <li>Modeling data for the stock market.</li>
        <li>All sports stats and modeling data for all sports.</li>
        <li>Any Technology that can help change the world.</li>
      </ul>
    </div>
  </div>
</div>

</div>
</div> <!-- end container -->

{% endblock %}


