{% extends "base1.html" %}
{% block section %}



<form class="" method="post" action="">
  {{ form.csrf_token }}
      {{ form.username.label(for="inputUsername", class="sr-only") }}
      {{ form.username(placeholder="Username", type="text", id="inputUsername", class="form-control") }}
      {% if form.username.errors %}
            {% for error in form.username.errors %}
            <div class="bg-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

      {{ form.password.label(for="inputPassword", class="sr-only") }}
      {{ form.password(placeholder="password", type="password", class="form-control", id="inputPassword") }}
       {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="bg-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        {{ form.remember_me.label(for="checkbox") }}
        {{ form.remember_me(class="checkbox", id="checkbox") }} 


       {{ form.submit }}
</form>

{% endblock %}