{% extends "base1.html" %}
{% block section %}


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="login-form">
<form class="form-horizontal" role="form" method="post" action="">
  {{ form.csrf_token }}
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      {{ form.username(placeholder="Username", type="text", id="inputUsername", class="form-control") }}
      {% if form.username.errors %}
            {% for error in form.username.errors %}
            <div class="bg-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      {{ form.password(placeholder="password", type="password", class="form-control", id="inputPassword") }}
       {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="bg-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
    
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{ form.remember_me(class="checkbox") }} Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Sign in</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>
{% endblock %}