{% extends "base1.html" %}
{% block section %}

this is profile template
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-1p0-ELNl0mk/AAAAAAAAAAI/AAAAAAAAAAA/xeGC2Eu7i0o/photo.jpg" width="200">
                        <img class="img-responsive" src="{{ profile.photos.imgsrc }}">
                        <div class="caption">
                            <p><strong>username: </strong>&nbsp;{{ profile.name }}</p>
                            <p><strong>email: </strong>&nbsp;{{ profile.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="thumbnail">
                        <h3>Update Profile Info</h3>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="{{ profile.name }}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="fileupload">Profile Pic</label>
                                <input type="file" id="fileupload" name="photo" class="">
                            </div>
                            <input type='submit'>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}