{% extends "base1.html" %}
{% block section %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <input type="file" id="file_input"/>
                            <p id="status">Please select a file</p>
                        </div>
                        {% if profile.avatar_url %}
                            <img class="img-responsive" id="preview" src="{{ profile.avatar_url }}" width="200">
                        {% else %}
                            <img class="img-responsive" id="preview" src="{{ url_for('static', filename='images/profile_pic.jpg') }}" width="200">
                        {% endif %}
                        <hr>
                        <div class="caption">
                            <p><strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;</strong>&nbsp;{{ profile.name }}</p>
                            <p><strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;</strong>&nbsp;{{ profile.email }}</p>
                            <p><strong><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;</strong>&nbsp;{{ profile.format_date_join }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="thumbnail">
                        <h3 class="text-center">Update Profile Info</h3>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form method="post" action="{{ url_for('profile', name=profile.name, user_id=profile.id) }}">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" class="form-control" value="{{ profile.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" value="{{ profile.email }}">
                                    </div>
                                        <input type="hidden" id="avatar_url" name="avatar_url" value="{{ url_for('static', filename='images/profile_pic.jpg') }}" >
                                    <div class="form-group">
                                        <input type="submit" value="update profile" class="form-control btn btn-info">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
/*
    Function to carry out the actual PUT request to S3 using the signed request from the Python app.
*/
function upload_file(file, signed_request, url){
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("preview").src = url;            
            document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file."); 
    };
    xhr.send(file);
}
/*
    Function to get the temporary signed request from the Python app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xhr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}
/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
})();
</script>

{% endblock %}