<div class="row">
		<div class="col-md-1 col-md-offset-1">
		{% for post in posts %}
		<div class="thumbnail">
			<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
		</div> <!-- end thumbnail -->
		</div> <!-- end col-md-2 -->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>{{ post.author.name }}</strong>
					<span class="text-muted">commented 5 days ago</span>
					{% if current_user.is_active %}
					<div class="pull-right"><a href="{{ url_for('edit_blogpost', author_id=post.author_id,blog_id=post.id) }}">Edit</a>&nbsp;|&nbsp;<a href="{{ url_for('delete_blogpost', author_id=post.author_id,blog_id=post.id) }}">Delete</a></div>
					{% endif %}
				</div>
				<div class="panel-body">
					{{ post.description }}
				</div>
			</div>
	{% endfor %}
		</div>
	</div>